@tailwind base;
@tailwind components;
@tailwind utilities;

.loginPage{
    height: 100vh;
    overflow-x: hidden;
}
.blob1{
    height: 100%;
    position: absolute;
}
.blob2{
    height: 100%;
    position: absolute;
}